.card {
    border-radius: 0 !important;
}

.page-bg {
    background-color: #e6f5e6; /* 薄い緑 */
    min-height: 100vh;        /* 画面全体に広げる */
    padding-bottom: 40px;     /* 下に余白を作る（カードがくっつかない） */
}

