{% extends "admin/admin_base.html" %}
{% block title %}商品編集{% endblock %}

{% block content %}
<div class="container col-md-5 mx-auto mt-2 mb-2">

    <h2 class="mb-4">カテゴリー編集</h2>

    <form action="{{ url_for('categories.category_edit_action', category_id=category.id) }}"
          method="POST"
          enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">カテゴリーID</label>
            <input type="text" name="id" class="form-control" value="{{ category.id }}" required readonly>
        </div>       
        <div class="mb-3">
            <label class="form-label">カテゴリー名</label>
            <input type="text" name="name" class="form-control" value="{{ category.name }}" required>
        </div>       
        <div class="mb-3">
            <label class="form-label">ステータス</label>
            <select name="status" class="form-select">
                <option value="1" {% if category.status == 1 %}selected{% endif %}>表示</option>
                <option value="2" {% if category.status == 2 %}selected{% endif %}>非表示</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">並び順</label>
            <input type="number" name="sort_order" class="form-control" value="{{ category.sort_order }}" required>
        </div>
        <button type="submit" class="btn btn-outline-primary">更新する</button>
    </form>
</div>
{% endblock %}
