{% extends "admin/admin_base.html" %}
{% block title %}カテゴリー追加{% endblock %}

{% block content %}
<h2 class="text-center mt-3 mb-4">カテゴリー追加</h2>

<div class="container col-md-4 mx-auto">

    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form action="{{ url_for('categories.category_add_action') }}" method="POST">

        <label class="mt-3">Name</label>
        <input type="text" name="name" class="form-control" required>

        <label class="mt-3">Sort_Order</label>
        <input type="text" name="sort_order" class="form-control" required>

        <button type="submit" class="btn btn-dark mt-4">追加</button>
    </form>
</div>

{% endblock %}
