{% extends "admin/admin_base.html" %}
{% block title %}商品編集{% endblock %}

{% block content %}
<div class="container col-md-5 mx-auto mt-2 mb-2">

    <h2 class="mb-4">商品追加</h2>

    <form action="{{ url_for('products.product_add_action') }}"
          method="POST"
          enctype="multipart/form-data">

        <div class="mb-3">
            <label class="form-label">商品名</label>
            <input type="text" name="name" required>
        </div>

        <div class="mb-3">
            <label class="form-label">価格</label>
            <input type="number" name="price" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">在庫数</label>
            <input type="number" name="stock" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">SKU</label>
            <input type="text" name="sku" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">ブランド</label>
            <input type="text" name="brand" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">説明文</label>
            <textarea name="description" class="form-control" rows="5"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">カテゴリー</label>
            <select name="category_id" class="form-select">
                {% for c in categories %}
                <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">ステータス</label>
            <select name="status" class="form-select">
                <option value="1">販売中</option>
                <option value="2">売り切れ</option>
                <option value="3">販売停止</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">仕様（JSON）</label>
            <textarea name="spec_json" class="form-control" rows="5"></textarea>
        </div>

        <hr>

        <h4>画像を追加</h4>
        <input type="file" name="images" multiple class="form-control">
        <button type="submit" class="btn btn-dark mt-4">登録する</button>

    </form>
</div>
{% endblock %}
