{% extends "admin/admin_base.html" %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="mx-auto w-50">
        <h3 class="text-center">{{ product.name }}</h3>
        <div class="card p-4 shadow-sm">
            <div class="row">
                <div class="col-md-6">商品ID</div>
                <div class="col-md-6">{{ product.id }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">商品名</div>
                <div class="col-md-6">{{ product.name }}</div>        
            </div>
            <div class="row">
                <div class="col-md-6">価格</div>
                <div class="col-md-6">{{ product.price }}</div>        
            </div>
            <div class="row">
                <div class="col-md-6">在庫数</div>
                <div class="col-md-6">{{ product.stock }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">SKU</div>
                <div class="col-md-6">{{ product.sku }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">ブランド</div>
                <div class="col-md-6">{{ product.brand }}</div>
            </div>         
            <div class="row">
                <div class="col-md-6">説明文</div>
                <div class="col-md-6">{{ product.description }}</div>        
            </div>
            <div class="row">
                <div class="col-md-6">カテゴリ</div>
                <div class="col-md-6">{{ product.category.name }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">ステータス</div>
                <div class="col-md-6">
                    {% if product.status == 1 %}
                        販売中
                    {% elif product.status == 2 %}
                        売り切れ
                    {% elif product.status == 3 %}
                        販売停止
                    {% endif %}
                </div>            
            </div>

            {% if spec %}
            <h4>仕様</h4>
            <div class="row">
                {% for key, value in spec.items() %}
                    <div class="col-sm-4 fw-bold">{{ key }}</div>
                    <div class="col-sm-8">{{ value }}</div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <br>
        <h4>既存画像</h4>
        {% for img in product.images %}
        <div class="mb-3">
            <img src="{{ img.image_url }}" width="150" class="img-thumbnail">
            <br>
            <label class="form-label mt-2">並び順（sort_order）</label>
            <input type="number" name="sort_order_{{ img.id }}" 
                class="form-control" value="{{ img.sort_order }}">
        </div>
        {% endfor %}
        <div class="mt-4">
            <form action="{{ url_for('products.product_edit', product_id=product.id) }}" method="GET">
                <button type="submit" class="btn btn-primary">編集</button>
            </form>
        </div>         
    </div>
</div>

<script>
function changeQuantity(button, delta) {
    const input = button.parentElement.querySelector('.qty-input');
    const hidden = button.parentElement.parentElement.querySelector('.qty-hidden');

    // 数量を増減
    input.value = Math.max(1, Number(input.value) + delta);

    // hidden に反映
    hidden.value = input.value;
}
</script>
{% endblock %}id
