{% extends "base.html" %}
    {% block title %}shopping-sight{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2 class="mb-4">精算</h2>
    <p>※ポートフォリオ用疑似</p>
    {% if cart_items|length == 0 %}
        <p>カートは空です。</p>
        <a href="/shop/menu" class="btn btn-secondary">← メニューに戻る</a>
    {% else %}
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tr><th>商品番号</th><th>商品名</th><th>価格</th><th>数量</th><th>小計</th></tr>
                {% for cart_item in cart_items %}
                <tr>
                    <td>{{ cart_item.product_id }}</td>
                    <td>{{ cart_item.product.name }}</td>
                    <td>{{ cart_item.price_at_added }}</td>
                    <td>{{ cart_item.quantity }}</td>
                    <td>{{ cart_item.price_at_added * cart_item.quantity }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="col-md-4">
            <div class="card p-3 shadow-sm">
                <h4 class="mb-3">ご請求金額</h4>
                <table class="pay-operation-total-table">
                    <tr>
                        <td>税抜合計</td>
                        <td>{{ total_price }}</td>
                    </tr>
                    <tr>
                        <td>消費税</td>
                        <td>{{ (total_price * 0.1) | round(0) | int }}</td>
                    </tr>
                    <tr>
                        <td>税込合計</td>
                        <td>{{ (total_price * 1.1) | round(0) | int }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="pay-operation-actions">
        <a href="/shop/cart" class="btn btn-dark btn-next">カートへ戻る</a>
        <a href="/shop/payment_method" class="btn btn-dark btn-next">決済方法選択へ進む</a>
    </div>
</div>
{% endblock %}
