{% extends "base.html" %}
{% block title %}Shopping-sight{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row row-cols-2 row-cols-md-3 g-4">
        {% for category in categories %}
        <div class="col">
            <a href="{{ url_for('shop_products.product_list', category_id=category.id) }}">
                <div class="card shadow-sm p-4 text-center">
                    <h3 class="m-0">{{ category.name }}</h3>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div> 
{% endblock %}

{% block scripts %}
    <script src="/static/js/cart.js"></script>
{% endblock %} 
