{% extends "base.html" %}
{% block title %}決済方法 | Self Drink Bar{% endblock %}

{% block content %}
<h2 class="text-white nav-tabs">決済方法を選択　※ポートフォリオ用疑似</h2>

<div class="payment-methods">
    <div class="pay-operation-wrapper"> 
        <form id="payment-form" action="/payment" method="POST">
            <label>
                <input type="radio" name="method" value="cash" required>
                現金（疑似決済）
            </label>
            <br>
            <label>
                <input type="radio" name="method" value="card">
                クレジットカード（疑似決済）                
            </label>
            <br>
            <label>
                <input type="radio" name="method" value="paspo">
                paspo（疑似決済）
            </label>
            <br>
            <label>
                <input type="radio" name="method" value="qr">
                QRコード（疑似決済）
            </label>
        </form>
    </div>
</div>
<div class="pay-operation-actions">
    <a href="/checkout" class="btn btn-primary btn-back">精算内容の確認へ戻る</a>
    <button type="button" class="btn btn-primary btn-next" onclick="document.getElementById('payment-form').submit();">決済へ進む</button>
    </button>
</div>
{% endblock %}
