{% extends "base.html" %}
{% block title %}決済 | Self Drink Bar{% endblock %}

{% block content %} 
<div class="container">
    <div class="mt-4 text-center">
        <h2 class="mb-3">決済（疑似）</h2>
    </div>
    <p class="text-muted text-center">交通系ICカード決済（疑似）を選択しました。</p>

    <div class="card p-4 shadow-sm mx-auto" style="max-width: 400px;">
        <h4 class="mb-3 text-center">交通系ICカードをタッチしてください。</h4>

        <div class="ic-reader text-center">
            <img src="/static/img/ic_reader.png" alt="ICリーダー" class="img-fluid" style="max-width: 200px;">
        </div>

        <p id="status" class="text-center fw-bold text-secondary">読み取り待機中…</p>
    </div>  .
    <p>DEBUG order_id: {{ order_id }}</p>
    <form id="autoForm" action="{{ url_for('shop_payment.payment_success', order_id=order_id) }}" method="GET">
        <input type="hidden" name="ic_status" value="success">
    </form>


</div>
<script>
    // 読み取り演出
    setTimeout(() => {
        document.getElementById("status").textContent = "読み取り中…";
    }, 6000);

    // 決済完了へ自動遷移
    setTimeout(() => {
        const form = document.getElementById("autoForm");
        const url = form.action;
        window.location.href = url;
    }, 6000);

    </script>

    {% endblock %}
