
{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}

    <!-- 商品一覧 -->
    <div class="container mt-4">
        <div class="row row-cols-2 row-cols-md-3 g-4">
            {% for product in products %}
                <div class="col">
                    <a href="{{ url_for('shop_product_detail.product_detail', product_id=product.id) }}">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <span class="text-dark fw-bold">{{ product.price }}円</span>                                    
                                <p class="card-text text-truncate">{{ product.description }}</p>     
                                
                                <div class="mt-auto">                                   
                                    <button type="button" class="btn btn-primary add-to-cart" data-id="{{ product.id }}">追加</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="/static/js/cart.js"></script>
{% endblock %} 





